body {
    margin: 0 auto;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}


.content {
  margin: 0 0 0.5em;
  /* margin-left: 800px;
  margin-right: 800px; */
  padding: 10px;
  border: 100px;
  background: transparent;
  }
  
.homeTitle {
  font-style: italic;
  text-transform: uppercase;
  color:tomato;
  
  
  background-image: linear-gradient(45deg, #845ec2,#d65db1, #ff6f91,#ff9671,#ffc75f, #f9f871); 
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 300%;
  animation: titolo 5s infinite alternate;
  
  
  }
  
@keyframes titolo {
   0% {
    background-position: left;
   }

  100% {
    background-position: right;
  }
    
}
  
  
.text {
  text-justify: auto;
  color: white;
  
  background: transparent;
  margin-left: 600px;
  margin-right: 600px;
  margin-bottom: 0 auto;
}
  
.sezioneContenuto{
  width:400px;
  height: 550px;
  margin:30px;
  background-color: white;
  box-shadow: 0px 0px 20px 0px black;
  border-radius: 10px;
  display: inline-block;
}
  
.area {
  background-color: transparent;
    
}

.testo1 {
  color: white;
  margin-bottom: 10px;
}

.sezioneContenuto{
  padding-bottom: 60px;
  width: 1000px;
  height: 300px;
  margin: 10px;
  padding-left: 100px;
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
  border-radius: 10px;
  display: inline-block;
}
.imgContenuto{
  float: left;
  width: 90%;
  height: 250px;
  overflow: hidden;
  border-radius: 0px;
  display: flex;
  align-items: center;
  margin: 5% auto;
}
.imgContenuto img{
  width: 50%;
}
.titleContenuto{
  text-align: center;
  justify-content: right;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: bold;
  width:90%;
  margin: 0 auto;
}

.buttonContenuto{
  width: 200px;
  height: 40px;
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
  border-radius: 20px;
  margin:5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 20px;
  font-family: 'Bebas Neue', cursive;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: purple;
  margin:0 auto;
  margin-top: 10px;
}
.buttonContenuto:hover{
  background-color: violet;
  color:white;
  transform: scale(1.05);
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.menu {
  float: left;
  width: 10%;
}

.menuicon {
  width: 4%;
  padding: 10px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: #000;
}

nav a::after {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #444;

  position: absolute;
  width: 0%;

  transition: all ease-in-out 250ms;
}

.alredyTutorials::after {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #444;

  position: absolute;
  width: 100%;

}

nav a:hover::after {
  width: 100%;
}

h1 {
  color: white;
}

.divider {								/* minor cosmetics */
  display: table; 
  font-size: 24px; 
  text-align: center; 
  width: 75%; 						/* divider width */
  margin: 40px auto;					/* spacing above/below */
}
.divider span { display: table-cell; position: relative;}
.divider span:first-child, .divider span:last-child {
  width: 50%;
  top: 13px;							/* adjust vertical align */
  -moz-background-size: 100% 2px; 	/* line width */
  background-size: 100% 2px; 			/* line width */
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}
.divider span:first-child {				/* color changes in here */
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(white));
  background-image: -webkit-linear-gradient(180deg, transparent, white);
  background-image: -moz-linear-gradient(180deg, transparent, white);
  background-image: -o-linear-gradient(180deg, transparent, white);
  background-image: linear-gradient(90deg, transparent, white);
}
.divider span:nth-child(2) {
  color: white; padding: 0px 5px; width: auto; white-space: nowrap;
}
.divider span:last-child {				/* color changes in here */
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(transparent));
  background-image: -webkit-linear-gradient(180deg, white, transparent);
  background-image: -moz-linear-gradient(180deg, white, transparent);
  background-image: -o-linear-gradient(180deg, white, transparent);
  background-image: linear-gradient(90deg, white, transparent);
}