@media screen and (max-width: 767px) {
    .sezioneContenuto{
        width: 200px;
        height: 550px;
        margin:30px;
        background-color: white;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
        border-radius: 10px;
        display: inline-block;
    }
    .imgContenuto{
        width: 90%;
        height: 250px;
        overflow: hidden;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5% auto;
    }
    .imgContenuto img{
        width: 120%;
    }
    .titleContenuto{
        text-align: start;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: bold;
        width:90%;
        margin: 0 auto;
    }
    .descriptionContenuto{
        text-align: start;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        width:90%;
        height: 150px;
        margin: 0 auto;
    }
    .buttonContenuto{
        width: 170px;
        height: 40px;
        background-color: white;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
        border-radius: 20px;
        margin:5px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        font-size: 20px;
        font-family: 'Bebas Neue', cursive;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        color:#F51F1F;
        margin:0 auto;
    }
    .buttonContenuto:hover{
        background-color:#f84949;
        color:white;
        transform: scale(1.05);
    }
    .buttonContenuto img{
        width:30px;
        margin-right: 10px;
    }
}