
.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #55d6aa;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.menu {
    float: left;
    width: 10%;
}

.menuicon {
    width: 4%;
    padding: 10px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;

    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #000;
}

nav a::after {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;

    position: absolute;
    width: 0%;

    transition: all ease-in-out 250ms;
}

.alredyAbout::after {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;

    position: absolute;
    width: 100%;

}

nav a:hover::after {
    width: 100%;
}

